//@variables y funciones{stylus} 
@import 'partials/style__var.styl'
@import 'partials/style__color.styl'
@import 'partials/matrix.styl'
//@fin variables y funciones{stylus} 

//@material
@import 'partials/style_material.styl'

//@header
@import 'partials/Landing__header.styl'

//@local
body{
	background-color $paper;
	color:$ColorPrimario;
}

//@footer
@import 'partials/Landing__footer.styl'