footer{
    background-color:$TextoPrimario;
    padding: 20px 0px;
    ul{ 
	    list-style:none;
	    margin:0 auto;
	    display:inline-block;
	    padding-top:30px;
    	li{
    		float:left;
		    a{
			    color:$TextoSecundario;
			    padding:20px;
			    &:hover{
			    color:$Complementario;
			    text-decoration:none;
				}
			}//END->a
		}//END->li
	}//:END->ul
	.footer-top{
    	padding-bottom:50px;
    	.container{
    		text-align: center;    		
    	}
    	.fab{
		    font-size:18px;
		    color: $paper;
		    padding-right:10px;
		}
		a{
		  color:#FFF;
		  text-decoration:none;
		}
	}//END->footer-top
}//::END->footer

.copyright{
    background-color:#f0f0f0;
    p{
	    font-size:12px;
	    margin: 0 auto;
	    padding:15px 0 10px 0;
	}
}//END->copyright
.menu_footer{
   margin: 0 auto;
   padding:0;
}//END->menu_footer