//@fuction
//#Devuelve la saturación del color dado o establece 
//el componente de saturación en el argumento del 
//segundo valor opcional.
saturation($color='',$b='%'){
	return saturation($color, $b);
}//#saturation
