.secondary-text-color
	color: $TextoSecundario 

.default-primary-color
	background: $DefaultPrimaryColor

.light-primary-color
	background: $lightPimarioColor

.text-primary-color
	color:$TextosDefaul

.dark-primary-color
	background: $ColorPrimario

.divider-color
	border-color: $border

.primary-text-color
	color: $TextoPrimario

.complementario-color
	background: $Complementario
