.secondary-text-color
	color: $TextoSecundario 

.default-primary-color
	background: $DefaultPrimaryColor

.light-primary-color
	background: $lightPimarioColor

.text-primary-color
	color:$TextosDefaul

.dark-primary-color
	background: $ColorPrimario

.divider-color
	border-color: $border

.primary-text-color
	color: $TextoPrimario

.complementario-color
	background: $Complementario
.btn-secondary{
	color: $TextoPrimario 
	background-color: $paper
	border-color: $border
	&:hover{
		color: #292b2c 
		background-color: #e6e6e6
		border-color: $border
	}
	&:active{
		background-color: $Complementario !important
		color:$paper !important;
		border-color $border !important;
	}
	&:focus{
		border-color:$Complementario !important
		box-shadow none;
	}
		
}

