/**
* @style       Stylo de ventana/ficha
* @media       screen
* @version     1.0
* @author      @jorgedipra
* @copyright   jorge diaz
* @apiName     page
* @layout      in pixels
* @date        2017
*
*/

/** @type {[color]}   */

$gris=#4a4b4b
$negro=#000;

$FondoOscuro= #191919
$AmarilloFl=#FFA420
$RojoFl=#bd4238
$AzulFl=#2e9eeb
$FondoEfMenu=#e95e01

$colorFdOscuro=$FondoOscuro
$clrGrisClaro=#c1c1c1;


$SombreNaranjaFl=rgba(233,94,1,1)
$SombreOscuroN=black
/** @type {[imagen]} */

$Panal= url(../img/Panal.png) 
$imagenUser=url("http://jorgedipra.hol.es/images/logo/h1.jpg")
$imagenMia=url('../img/foto.jpg')


/** @type {[font]} */
$TextconolaMns='Lora', serif
$TxtRobotTitulo='Audiowide', cursive
$LetraStandar=$LetraConsola
$LetraConsola="ocr a std", "Lucida Console", "Courier New", monospace