@import 'constantes.styl';
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);


#perfil{
	height:300px;
	position: absolute;
	width: 200px;
}
#perfil>img{
	background-image:$imagenMia;
	background-size: 95% 83%;
	background-position: 25px 40px;
	border-radius:20px; 
	margin: 0 20px;
	width: 100%;
	height:100%;
}
#textoHV0{
	background-color: $FondoOscuro;
	border-radius: 4px;
	border: solid 1px $FondoOscuro;
	color: #fff;
	font-family:$LetraConsola;
	font-size:14px;
	height: 180px;
	left:20px;
	line-height: 1.8;
	margin: 0;
	position: absolute;
	top:320px;
	width: 220px;
}
#textoHV0 h1{
	margin: 10px 5%;
	text-align:left;
	text-shadow: 0 0 0.2em #2e9eeb, 0 0 0.2em #2e9eeb,0 0 0.2em #2e9eeb
}
#textoHV0 i{
	margin-left:10px;
	padding-right:15px;
}
#textoHV0 a{
	color: #fff;
	font-size:12px;
	text-decoration: none;
}
#textoHV{
	background-color: $FondoOscuro;
	border-radius 4px;
	border: solid 1px $FondoOscuro;
	font-family:$TextconolaMns;
	height: 500px;
	left:250px;
	margin: 0;
	position: absolute;
	text-align left;
	top:0;
	width: 500px;
}
#textoHV p{
	color:#fff;
	font-size 20px;
	margin-left 10%;
	text-align left;
	width: 400px;
	text-transform: lowercase;
}
#textoHV p span{
	text-transform: capitalize;
}