blockquote{
	font-size: 30px !important;
}
blockquote > h3{
	font-size: 20px !important;
	margin-top: 28px !important;
}
main{
	height: 400px !important;
	margin-top:45vh !important;
	width: 500px !important;
}

#textoHV {
	height: 55vh !important;
	width: 63vh !important;
}
#textoHV p{
	width: 52vh !important;
	font-size: 25px !important;
}   