blockquote{
	font-size: 10px !important;
}
blockquote > h3{
	font-size: 20px !important;
	margin-top: 28px !important;
}
main{
	width: 358px !important;
	margin-left: 6%;
}
#textoHV {
	width: 49vh !important;
}
#textoHV p{
	width: 44vh !important;
	font-size: 15px !important;
	margin-left: 21px !important;
}   
.window{
	left: calc(44% - 97px) !important;
	width: calc(57% - 150px) !important;
}