main {
	height: 137px !important;
	margin-top: 68vh !important;
}
blockquote {
	font-size: 15px !important;
}
blockquote h3{
	font-size: 12px !important;
	margin-top: 10px !important;
}
article#textoHV0 {
	font-size: 12px !important;
	margin-top: -50px !important;
	height: 150px !important;
}
#textoHV {
	height: 70vh !important; 
}
#perfil {
	height: 264px !important;
}
.title {
	font-size: 36px !important;
}
.window{
	height: 84% !important;
}
#perfil>img{
	    background-position: 25px 36px !important;
}